

@size-header-height : 20vh;
@size-gender-buttons-height : 10vh;
@size-search-bar-height : 10vh;
@size-swiper-home-height : calc( var(--app-height) - (@size-header-height + @size-gender-buttons-height + @size-search-bar-height));




@font-size-large: 15px;
@font-size-medium: 10px;
@font-size-small: 10px;