@font-face {
  font-family: 'TrajanPro';
  src: url('../../fonts/TrajanPro-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../../fonts/TrajanPro-Bold.otf')  format('opentype'),
       url('../../fonts/TrajanPro-Bold.woff') format('woff'), 
       url('../../fonts/TrajanPro-Bold.ttf')  format('truetype'), 
       url('../../fonts/TrajanPro-Bold.svg#TrajanPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'TrajanPro';
  src: url('../../fonts/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../../fonts/TrajanPro-Regular.otf')  format('opentype'),
       url('../../fonts/TrajanPro-Regular.woff') format('woff'), 
       url('../../fonts/TrajanPro-Regular.ttf')  format('truetype'), 
       url('../../fonts/TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}